@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --main-color: #b31313;
  --main-sec-color: #e9060a;
  --sec-color: #25262a;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  box-sizing: border-box;
  text-decoration: none;
}

navbar {
  top: 0;
  position: absolute;
  height: fit-content;
  width: 100%;
  padding: 20px 5vw;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.menu-style {
  text-decoration: none;
  color: black;
}

.menu-style-active {
  color: var(--main-sec-color);
}

.icon {
  height: 7vh;
  /* width: 5vw; */
  /* height: auto; */
}

.menu {
  align-items: center;
  display: flex;
  /* justify-content: space-between; */
  gap: 30px;
}

.menu-child {
  border: none;
  background-color: #ffffff;
  display: inline-block;
  font-size: 20px;
  justify-content: center;
  padding-left: 30px;
  color: black;
}

.menu-child-active {
  border: none;
  background-color: #ffffff;
  color: var(--main-sec-color);
  display: inline-block;
  font-size: 20px;
  color: var(--main-color);
  justify-content: center;
  padding-left: 30px;
}

.container {
  margin: 0;
  display: flex;
  height: 100vh;
  max-width: 100%;
  align-items: center;
  background-color: #ffffff;
  position: relative;
  /* border: 1px solid yellow; */
}

.tagFigure {
  padding-left: 10pt;
}

.debut {
  width: 90vw;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
}

.debut-video {
  width: 80%;
  height: auto;
  right: 0;
  aspect-ratio: 16/9;
  position: absolute;
}

.debut-text {
  position: absolute;
  width: 50vw;
  color: white;
}

.debut-text p {
  display: inline;
  font-size: 6vw;
  font-weight: bold;
  background-color: var(--sec-color);
}

/* .debut:after {
  content: "";
  position: absolute;
  background: linear-gradient(to bottom, white, black);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
} */

/* INI UNTUK AUDITION */

.square {
  height: 80vh;
  position: relative;
  width: 100vw;
}

.audition {
  position: absolute;
  background-color: var(--sec-color);
  height: 50vh;
  width: 100%;
  padding: 5vh 10%;
  border-radius: 0 150px 0 0;
  bottom: 0;
}

.header-audition {
  font-size: 4rem;
  line-height: 100%;
  color: #e7d9d9;
  font-weight: bold;
}

.p-audition {
  padding-top: 30px;
  font-size: 1rem;
  line-height: 220%;
  color: #d1d1d1;
}

.audition-image {
  width: 40vw;
  height: auto;
  position: absolute;
  bottom: 0;
  z-index: 10;
  left: 3vw;
}

.desc-audition {
  width: 55%;
  float: right;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-audition {
  justify-content: flex-start;
}

.tombol-vtuber {
  background-color: var(--main-sec-color);
  border-radius: 5px;
  width: 200px;
  height: 70px;
  color: white;
  font-size: 24px;
  box-shadow: 0px 15px 1px var(--main-color);
  margin-bottom: 15px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.tombol-vtuber:active {
  box-shadow: none;
  margin-bottom: 0px;
}

/* INI UNTUK FOOTER */

footer {
  background-color: var(--sec-color);
  height: auto;
  width: 100%;
  padding: 20px 5%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  color: white;
  /* position: relative; */
}

.socialmedia {
  display: flex;
  align-items: center;
  gap: 20px;
}

.sosialmedia img {
  height: 40pt;
  width: 40pt;
}

/* INI UNTUK EVENTS */
.events {
  max-width: 90vw;
  height: auto;
  position: relative;
  margin: 0 auto;
}

.events > p {
  font-size: 4rem;
  font-weight: bold;
  color: var(--sec-color);
}
.slider {
  width: 80vw;
  height: 70vh;
  overflow: hidden;
  text-align: center;

  /* margin-top: 30px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  justify-content: space-between;
  gap: 1vw; */
}

.slider > .slides {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.slide {
  float: left;
  list-style-type: none;
}

.card-event {
  max-width: 30vw;
  height: auto;
}

.image-event {
  /* width: 100%; */
  height: auto;
}

.image-event img {
  /* max-width: 100%; */
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.text-event {
  margin: 10px 0;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .debut-video{
    width: 100%;
    /* align-items: center; */
    display: flex;
    position: relative;
    justify-content: center;
  }
  .debut{
    display: flex;
    flex-direction: column;
    height: 50vh;
  }
  .debut-text{
    position: relative;
    /* font-size: 6rem; */
    width: 80%;
    margin: 0 auto;
  }
  .debut-text p{
    font-size: 9vw;
  }

  .square{
    display: flex;
    flex-direction: column;
    height: fit-content;
  }

  .square > img{
    margin: 0 auto;
    position: relative;
    /* height: 20vh; */
    height: 50vh;
    width: auto;
  }

  .audition{
    height: 40vh;
    border-radius: 0 100px 0 0;
    position: relative;
  }

  .desc-audition{
    width: 100%;
  }

  .header-audition{
    font-size: 2rem;
  }

  .p-audition{
    font-size: 0.8rem;
  }

  .events{
    height: fit-content;
  }
  .events p{
    font-size: 3rem;
  }

  .slider{
    margin-top: 20px;
  }
}

.content-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}

.container-category {
  display: flex;
  flex-direction: row;
  background-color: blue;
}

.img-vtuber img {
  border-radius: 40px;
  outline: 10px solid var(--main-color);
  outline-offset: -5px;
  height: 300px;
  width: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
}

.desc-vtuber {
  justify-content: center;
  text-align: center;
}

.container-vtuber {
  justify-content: center;
}

.top-talent {
  width: 90vw;
  margin: 0 auto;
  box-sizing: border-box;
  /* padding: 5%; */
}

.top-talent-content {
  margin-top: 30px;
  border-radius: 10px;
  border: 1px solid #bdbdbd;
  height: 60vh;
  padding: 5%;
  width: 100%;
  display: flex;
}

.ctg-talent {
  display: flex;
  gap: 20px;
}

.text-talent {
  margin-left: 100px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ctg-talent p {
  background-color: #b31313;
  font-weight: bold;
  color: white;
  font-size: large;
  line-height: 200%;
  padding: 0 20px;
  border-radius: 5px;
}

.talent-content {
  margin-top: 20px;
}

.header-talent {
  font-size: 4rem;
  font-weight: bold;
}

.body-talent {
  font-size: 1.2rem;
  line-height: 200%;
}

.talent-image {
  max-height: 100%;
  width: auto;
  /* float: left; */
  aspect-ratio: 1/1;
  /* border: 1px solid red; */
}

.talent-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.region {
  width: 90vw;
  margin: 0 auto;
}

.categories-header {
  display: flex;
  background-color: var(--sec-color);
  color: white;
  height: 12vh;
  width: 100%;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  margin: 30px 0px;
}

.categories-content img {
  border-radius: 40px;
  outline: 10px solid var(--main-color);
  outline-offset: -5px;
  height: 300px;
  width: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
}

/* NENDOROID */

.container-nendoroid {
  margin: 0 auto;
  display: flex;
  height: fit-content;
  max-width: 100%;
  align-items: center;
  background-color: #ffffff;
  position: relative;
  padding-top: 120px;
}

.nendoroid {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.text-head {
  padding: 60px 50px;
}

.text-head p {
  font-size: 28pt;
  font-weight: 500;
}

.card-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  /* background-color: aquamarine; */
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-bottom: 50px;
}

.card {
  margin: 20px;
  height: fit-content;
  width: 500px;
  justify-content: center;
  background-color: var(--sec-color);
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.card-image {
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-image img {
  width: 400px;
  height: auto;
  /* height: 50vh; */
  display: block;
  margin: auto;
}

.card-desc {
  color: white;
  margin-left: 5%;
  margin-bottom: 8px;
}

.sub-text {
  font-size: 14pt;
}

.tombol-beli {
  background-color: var(--main-sec-color);
  width: 90%;
  height: 8vh;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  margin-bottom: 15px;
}

/* FIGURE */

.container-figure {
  margin: 0 auto;
  display: flex;
  height: fit-content;
  max-width: 100%;
  align-items: center;
  background-color: #ffffff;
  position: relative;
  padding-top: 120px;
  /* background-color: black; */
}
.figure {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.textFigure {
  padding-left: 50px;
  padding-top: 100px;
  padding-bottom: 40px;
}

.figureBox {
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: auto;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  /* background-color: black; */
}

.card-figure {
  display: flex;
  background-color: var(--sec-color);
  height: fit-content;
  width: 20vw;
  border-radius: 15px;
  color: white;
  margin: 20px;
  flex-direction: column;
}

.card-img {
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 20px;
  padding-top: 20px;
  padding-left: 37px;
}

.card-img > img {
  width: 16vw;
  height: 35vh;
}

.card-desc {
  padding-left: 12px;
  font-weight: 20pt;
}

.card-button {
  background-color: var(--main-sec-color);
  width: 90%;
  height: 5vh;
  margin-left: 20px;
  border-radius: 7px;
  color: white;
  margin-bottom: 10pt;
}

/* CART */
.container-header {
  margin: 0;
  display: flex;
  height: 120px;
  max-width: 100%;
  align-items: center;
  background-color: #ffffff;
  position: relative;
}

.container-content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.figure-cart {
  width: 60vw;
  height: 75vh;
  /* background-color: pink; */
  margin: auto;
}

.cart-object h1 {
  font-size: 3rem;
  margin-bottom: 30px;
  margin-left: 20px;
}

.card-cart-object {
  display: flex;
  flex-direction: row;
  background-color: var(--sec-color);
  margin: 20px;
  width: auto;
  height: fit-content;
  border-radius: 20px;
}

.checkbox {
  align-self: center;
}

.check {
  width: 40px;
  height: 40px;
  margin: 20px;
  border-radius: 15px;
}

.picture img {
  width: 200px;
  height: 200px;
  margin: 20px;
}

.pic-cart-desc {
  color: white;
  display: flex;
  flex-direction: column;
}

.pic-cart-desc-head {
  padding-top: 23px;
  font-size: 2rem;
  font-weight: 200;
}

.pic-cart-desc-price {
  font-size: 3rem;
  font-weight: 1000;
}

.pic-cart-desc-type {
  font-size: 1.2rem;
}

/* VERTICAL LINE */
.vertical-line {
  height: 80%;
  border-right: 1px solid #000000;
  margin: auto 0px;
}

/* PAYMENT */
.payment-details {
  /* width: 40vw;
  height: 100vh; */
  width: 25vw;
  height: 75vh;
  /* background-color: pink; */
  margin: auto;
}

.header-payment p {
  font-size: 2.5rem;
  font-weight: 800;
}

.voucher-code input {
  border-radius: 12px;
  width: 80%;
  padding: 15px;
  border-width: 1px;
  display: flex;
  margin: 30px 0px;
  /* margin: auto; */
}

.shopping-sum-title {
  font-size: 1.6rem;
}

.shopping-sum-sub {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 15px auto;
  font-size: 1.2rem;
}

.line {
  width: 90%;
  border-bottom: 1px solid #000;
  margin: 20px auto;
  line-height: 0.1em;
}

.buy {
  background-color: var(--main-sec-color);
  border-radius: 10px;
  height: 7%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  font-size: 1.3rem;
  font-weight: 700;
}

.buy a {
  color: white;
}

/* PAYMENT / CUSTOMER INFORMATION */
/* .payment-vertical-line {
  height: 80%;
  border-right: 4px solid #ffffff;
  margin: auto 0px;
} */
.container-payment {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.customer-information-forms {
  /* display: flex; */
  margin: 0px auto;
  /* justify-content: flex-start; */
  height: fit-content;
}

.customer-information-forms form {
  display: flex;
  flex-direction: column;
  margin: auto;
  color: white;
}

.customer-information-forms input {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 300px;
}

.customer-information-card {
  background-color: var(--sec-color);
  height: fit-content;
  width: 60vw;
  border-radius: 20px;
  padding: 4%;
}

.customer-information-card-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 69vh;
  flex-direction: row;
}

.customer-information-card h2 {
  color: white;
  margin-bottom: 20px;
  text-align: center;
}

.payment {
  margin: 0px auto;
  color: white;
  width: 21.4vw;
  height: 58vh;
}

.payment-method {
  margin: 10px 0px;
}

.payment-total-payment {
  margin: 10px 0px;
  display: flex;
  flex-direction: row;
  width: 200px;
  justify-content: space-between;
}

.payment-vertical-line {
  height: 80%;
  border-right: 1px solid #ffffff;
  margin: auto 0px;
}

.payment-buy {
  background-color: var(--main-sec-color);
  border-radius: 10px;
  height: 7%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 90% auto;
  font-size: 1.3rem;
  font-weight: 700;
}

.payment-buy a {
  color: white;
}

/* SCREENSAVER */

#screensaver {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  display: none;
  /* background-color: black; */
}

:root {
  --alpha: 0.8;
}

.container-canvas {
  width: 100vw;
  height: auto;
}

#myScreenSaver {
  height: 100%;
  width: 100%;
  object-fit: cover;
  aspect-ratio: inherit;
  border: solid 1px black;
}
